examples/holidayService/src/test/resources/com/bpel4mobile/holiday/process/HolidayMobileService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://bpel4mobile.com/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bpel4mobile.com/schemas" targetNamespace="http://bpel4mobile.com/schemas">
  <wsdl:types>
    <xs:schema xmlns:b4m="http://bpel4mobile.com/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://bpel4mobile.com/schemas">
        
    <xs:element name="TaskRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="callbackUrl" type="xs:string"/>  
                <xs:element name="request" type="b4m:HolidayRequestType"/>     
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TaskResponse">
    	<xs:complexType>
            <xs:sequence>
    	 		<xs:element name="taskUUID" type="xs:string"/> 
            </xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:complexType name="HolidayRequestType">
        <xs:sequence>
            <xs:element name="Holiday" type="xs:string"/>                       
            <xs:element name="Employee" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="TaskRequest">
    <wsdl:part element="tns:TaskRequest" name="TaskRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TaskResponse">
    <wsdl:part element="tns:TaskResponse" name="TaskResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HumanResource">
    <wsdl:operation name="Task">
      <wsdl:input message="tns:TaskRequest" name="TaskRequest">
    </wsdl:input>
      <wsdl:output message="tns:TaskResponse" name="TaskResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HumanResourceSoap11" type="tns:HumanResource">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Task">
      <soap:operation soapAction=""/>
      <wsdl:input name="TaskRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TaskResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HumanResourceService">
    <wsdl:port binding="tns:HumanResourceSoap11" name="HumanResourceSoap11">
      <soap:address location="http://localhost:8181/holidayService/ws/Holiday"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>